.column-file_type {
    width: 9%;
}

.column-file_size {
    width: 6%;
}

.column-version {
    width: 7%;
}

.column-shortcode {
    width: 18%;
}

.shortcode-column-container {
    display: flex;
    gap: 6px;
}

.column-date_modified {
    width: 18%;
}

.column-file_url {
    width: 18%;
}

.alternate,
.striped > tbody > :nth-child(odd),
ul.striped > :nth-child(odd) {
    background-color: #f6f7f7;
}

.edit-modal {
    display: none;
    position: fixed;
    z-index: 160000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.edit-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fvm-dropzone {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    margin: 20px 0;
    border: 4px dashed #c3c4c7;
    padding: 0;
    text-align: center;
}

.fvm-dropzone.highlight {
    border-color: #2271b1;
    background-color: #f0f6fc;
}

h2.fvm-upload-instructions {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
}

.fvm-dropzone p {
    font-size: 13px;
    line-height: 1.5;
    margin: 0.5em 0;
}

#fvm-file-name {
    word-break: break-all;
    margin-bottom: 10px;
}

#fvm-upload-button {
    margin-top: 10px;
}

.post-upload-ui {
    margin-bottom: 2em;
}

.upload-ui {
    margin: 2em 0;
}
