.uppercase {
    text-transform: uppercase;
}

/* Grid */
.fvm-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.2rem;
}

.fvm-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fvm-grid-item-content {
    margin-bottom: 20px;
}

.fvm-grid-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 4/3;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 0.8rem;
}

.fvm-grid-item-icon .dashicons {
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.2);
}

.fvm-grid-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem !important;
}

.fvm-item-size {
    margin-bottom: 0 !important;
    font-size: 14px;
}

.fvm-grid-item-btn {
    display: block;
    width: fit-content;
    padding: 6px 12px;
    font-size: 14px;
    background-color: rgb(225, 225, 236);
    color: black;
    text-align: center;
    border-radius: 4px;
    text-decoration: none !important;
}

/* Table */
.fvm-file-table {
    width: 100%;
    border-collapse: collapse;
}

.fvm-file-table th,
.fvm-file-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.fvm-file-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Toggle */
ul.fvm-toggle-container {
    border: 1px solid #000;
    padding: 0;
    margin: 0;
}

ul.fvm-toggle-container li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #000;
}

ul.fvm-toggle-container li > ul > li span {
    padding-left: 2rem;
}

ul.fvm-toggle-container li:last-child {
    border-bottom: none;
}

.fvm-toggle-group {
    background-color: #d1ccf7;
    cursor: pointer;
}

.fvm-toggle-subcategory li {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffe1e1;
}

.fvm-toggle-content {
    padding: 0;
    margin: 0;
}

.fvm-toggle-subcategory li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.fvm-toggle-file:nth-child(odd) {
    background-color: #f8f8f8;
}

.fvm-toggle-file:nth-child(even) {
    background-color: #ffffff;
}

.fvm-toggle-content {
    display: none;
}

.fvm-toggle-content.active {
    display: block;
}
