.fvm-settings-tabs-container {
    margin-top: 20px;
    z-index: -1;
}

.fvm-settings-tabs {
    display: flex;
    margin-bottom: -1px;
}

.fvm-settings-tab {
    padding: 10px 15px 11px 15px;
    cursor: pointer;
    margin-bottom: 0;
    color: #646970;
    text-decoration: none;
    border-top: 1px solid #f0f0f1;
    border-bottom: 1px solid #c3c4c7;
    z-index: 1;
}

.fvm-settings-tab:hover {
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #c3c4c7;
}

.fvm-settings-tab.active {
    padding: 10px 14px 11px 14px;
    background-color: #fff;
    border: 1px solid #c3c4c7;
    border-bottom: 0;
    cursor: default;
    color: #1d2327;
    z-index: 0;
}

.fvm_settings-container {
    padding: 26px 20px;
    background-color: #fff;
    border: 1px solid #c3c4c7;
    z-index: 1;
}

.fvm_settings-section:not(:last-child) {
    margin-bottom: 26px;
}

.fvm_settings-section h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.fvm_settings-section-content {
    gap: 10px;
    background-color: #f9f9fa;
    border: 1px solid #e4e5e8;
    border-radius: 5px;
    padding: 20px 16px;
}

.fvm_field-group:not(:first-child) {
    margin-top: 14px;
}

.fvm_field-group p.submit {
    margin-top: 20px;
}

.fvm_field-group h3 {
    color: #22272b;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
}

.fvm_input-group p {
    margin-top: 0;
}

.fvm_input-group input[type="file"] {
    width: 100%;
}

.fvm_settings-container .submit {
    margin: 0;
    padding: 0;
}

.fvm_log-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fvm_log-container {
    background-color: #1d1d1f;
    border-radius: 5px;
    padding: 16px;
    height: 200px;
    overflow-y: scroll;
    margin: 10px 0;
}

.fvm_log-container pre {
    color: #c8cad0;
    margin: 0;
}
