.uppercase {
    text-transform: uppercase;
}

/* Grid */
.fvm-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.2rem;
}

.fvm-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fvm-grid-item-content {
    margin-bottom: 20px;
}

.fvm-grid-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 4/3;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 0.8rem;
}

.fvm-grid-item-icon .dashicons {
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.2);
}

.fvm-grid-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem !important;
}

.fvm-item-size {
    margin-bottom: 0 !important;
    font-size: 14px;
}

.fvm-grid-item-btn {
    display: block;
    width: fit-content;
    padding: 6px 12px;
    font-size: 14px;
    background-color: rgb(225, 225, 236);
    color: black;
    text-align: center;
    border-radius: 4px;
    text-decoration: none !important;
}

/* Table */
.fvm-file-table {
    width: 100%;
    border-collapse: collapse;
}

.fvm-file-table th,
.fvm-file-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.fvm-file-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Toggle */
ul.fvm-toggle-container {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: 0;
}

ul.fvm-toggle-container li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

ul.fvm-toggle-container > li:first-child {
    border-top: none;
}

ul.fvm-toggle-container li > ul > li > span.fvm-toggle-category-title {
    padding-left: 3rem;
}

ul.fvm-toggle-container
    li
    > ul
    > li
    > ul
    > li
    > span.fvm-toggle-category-title {
    padding-left: 6rem;
}

ul.fvm-toggle-container li > ul > li.fvm-toggle-file > span {
    padding-left: 3rem;
}

ul.fvm-toggle-container li > ul > li > ul > li.fvm-toggle-file > span {
    padding-left: 6rem;
}

ul.fvm-toggle-container
    li
    > ul
    > li
    > ul
    > li
    > ul
    > li.fvm-toggle-file
    > span {
    padding-left: 9rem;
}

.fvm-toggle-category {
    background-color: #d5d5d5;
}

.fvm-toggle-subcategory li {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffe1e1;
}

ul.fvm-toggle-container li > span {
    display: block;
    padding: 5px 10px 5px 10px;
}

.fvm-toggle-content {
    padding: 0;
    margin: 0;
}

/* .fvm-toggle-subcategory li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
} */

.fvm-toggle-file:nth-child(odd) {
    background-color: #f8f8f8;
}

.fvm-toggle-file:nth-child(even) {
    background-color: #ffffff;
}

ul.fvm-toggle-container a:hover {
    text-decoration: underline;
}

.fvm-toggle-file .fvm-file-item-meta {
    padding: 2px 5px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
}

.fvm-toggle-category-title {
    display: flex !important;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.fvm-toggle-icon-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
}

.fvm-toggle-icon {
    transition: opacity 0.2s, transform 0.2s;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

.fvm-toggle-icon.plus {
    opacity: 1;
    transform: rotate(0deg);
}

.fvm-toggle-icon.minus {
    opacity: 0;
    transform: rotate(-180deg);
}

.fvm-toggle-category-title[aria-expanded="true"] .plus {
    opacity: 0;
    transform: rotate(180deg);
}

.fvm-toggle-category-title[aria-expanded="true"] .minus {
    opacity: 1;
    transform: rotate(0deg);
}
